<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Pick your own Fotographer">

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>Photograpick</title>
</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
  </nav> -->

  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="../public/icons/icon-114x114.png" alt="Bootstrap" width="30" height="24"> -->
      Photograpick
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fotografer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kategori</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lainnya
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Layanan</a></li>
            <li><a class="dropdown-item" href="#">Challenge</a></li>
            <li><a class="dropdown-item" href="#">Event</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Reward</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <a class="btn btn-outline-success" href="http://">Login</a>
        <a class="btn btn-outline-success" href="http://">Register</a>
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
      </div>
    </div>
  </div>
</nav>
  
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#/fotografer">fotografer list</a></li>
    <li><a href="#/fotografer/:fotografer">fotografer</a></li>
    <li><a href="#/kategori">kategori fotografer</a></li>
    <li><a href="#/kategori/:kategori">kategori</a></li>
    <li><a href="#/layanan">layanan</a></li>
    <li><a href="#/challenge">challenge</a></li>
    <li><a href="#/event">event</a></li>
    <li><a href="#/reward">reward</a></li>
  </ul>
  
  <!-- <app-bar></app-bar> -->
  <main id="mainContent"></main>
  <!-- <foot-note></foot-note> -->

</body>

</html>

<!-- 
  Bikin navbar dulu sama footer
  baru buat satu satu komponen page nya

  halaman login, register
  buat utils nav active link
 -->