<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Pick your own Fotographer">

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>Photograpick</title>
</head>

<body>

  <app-bar></app-bar>
  <main id="mainContent"></main>
  <foot-note></foot-note>

</body>

</html>